@font-face {
    font-family: 'My Font';
    src: url('pixelfont.TTF');
  }
  
body {
    background: rgb(66, 66, 66);
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: My Font;
    color: white;
    margin: 0px;
    padding: 0px;
}
header {
    background: #350269;
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

header ul{
    list-style-type: none;
    width: 100%;
    padding-right: 5%;

}
header li {
    display: flex;
    float: right;
    vertical-align: middle;
}

header li a{
    background-color: transparent;
    color: white;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: white 1px 1px 1px;
}

section {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#intro{
    width: 100%;
    color: black;
    margin-top: 100px;
    font-size: 400%;
    text-align: center;
}

.options {
    margin: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
 }
.options figure {
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}
.options figure img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: black 3px 3px 3px;
}
.options figure figcaption a{
    color: black;
    text-decoration: underline;
    box-shadow: black 2px 2px 2px;
}
footer {
    background: #350269;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer ul {
    opacity: 50%;
}

@media screen and (min-width: 1284px) and (max-width: 1848px) {
    body {
        background-image: url("images/bgtab.png");
        background-repeat: repeat;
    }
    #intro {
        font-size: 250%;
    }
    .options {
        font-size: 25px;
    }
    .options figure img{
        width: 300px;
        height: 300px;
    }

    
  }


/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 1284px) {
    body {
        background-image: url("images/bgmobile.jpg");
        background-repeat: repeat;
    }
    header {
        font-size: 75%;
    }
    #intro{
        font-size: 150%;
    }
    .options {
        display: block;
        font-size: 15px;
     }
     .options figure {
        margin: 20px;
    }
    .options figure img {
        width: 200px;
        height: 200px;
        box-shadow: black 1px 1px 1px;
    }
    .options figure figcaption a{
        text-decoration: none;
        box-shadow: black 1px 1px 1px;
    }
    footer {
        font-size: 50%;
    }

  }




